@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-secondary: #064e3b;
  --color-lavender-100: #dedbf0;
  --color-lavender-200: #b7b0de;
  --color-lavender-300: #7568c0;
  --color-lavender-400: #453989;
}

@font-face {
  font-family: "Raleway-Variable";
  src: url("../fonts/Raleway-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Variable";
  src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-lavender-200);
  margin: 0;
  font-family: "Raleway-Variable", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
