@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-secondary: #064e3b;
  --color-lavender-100: #dedbf0;
  --color-lavender-200: #b7b0de;
  --color-lavender-300: #7568c0;
  --color-lavender-400: #453989;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-lavender-200);
  margin: 0;
  font-family: "Raleway", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
