@import "./assets/styles/base.scss";
@import "./assets/styles/fonts.scss";

body {
  background-color: #b7b0de;
  margin: 0;
  font-family: "Raleway-Variable", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
